.hero-section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 100vh; 
    color: #fff;
    text-align: center;
}

.hero-content {
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 3em; 
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em; 
    margin-bottom: 20px;
}

.show-btn {
    display: inline-block;
    padding: 13px 20px;
    font-size: 1em;
    color: black;
    font-weight: bold;
    background-color: #f4b942; 
    text-decoration: none;
    border-radius: 21px;
    transition: background-color 0.3s ease;
}

.show-btn:hover {
    background-color: #d89a1e; 
}

